{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Office Employee Management System</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <div class="container">
        <!-- Content here -->
        <h1>Office Employee Management System</h1>
        <hr>
        <a class="btn btn-primary" href="/view_emp" role="button">View All Employee</a>
        <a class="btn btn-primary" href="/add_emp" role="button">Add An Employee</a>
        <a class="btn btn-primary" href="/rem_emp" role="button">Remove An Employee</a>
        <a class="btn btn-primary" href="/filter_detail" role="button">Filter Employee Details</a>
    </div>
</body>

</html>